<form action="/jumpers/{{jumperId}}/jumps" method="POST">
    <div class="form-group">
        <label for="jumpNumber">Number</label>
        <input type="text" name="jumpNumber" placeholder="Enter Number">
    </div>
    <div class="form-group">
        <label for="jumpName">Title</label>
        <input type="text" name="jumpName" placeholder="Jump Name">
    </div>
    <div class="form-group">
        <label for="jumpType">Licence</label>
        <select class="form-control" id="exampleFormControlSelect1" name="licence">
      <option>RW</option>
      <option>Freefly</option>
      <option>Wingsuit</option>
      <option>Hybrid</option>
    </select>
    </div>
    <div class="form-group">
        <label for="exitAltitude">Exit Alt</label>
        <input type="text" name="exitAltitude" placeholder="Exit Altitutde">
    </div>
    <div class="form-group">
        <label for="deployAltitude">Deploy Alt</label>
        <input type="text" name="deployAltitude" placeholder="Deploy Altitutde">
    </div>
    <div class="form-group">
        <label for="accuracy">Distance From Target</label>
        <input type="text" name="accuracy" placeholder="Distance From Target">
    </div>
    <div class="form-group">
        <label for="notes">Improvement Points</label>
        <input type="text" name="notes" placeholder="Notes">
    </div>
    <button type="submit" class="waves-effect waves-light btn" value="CREATE">Submit</button>
</form>