body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url(http://i.huffpost.com/gen/1507201/images/o-SKYDIVER-facebook.jpg);
  background-size: 100%;
  color: white;
}

a {
  color: #00B7FF;
}
