<div>

    <h1>Spaceland Sport Jumpers</h1>

    <div>
        <button><a href="jumpers/new">Add New Company</a></button>
    </div>
    <div>
        <ol>
        {{#each jumpers}}
        
       <li> {{this.name}}  -  {{this.totalJumps}} 
        
        {{/each}}
        </ol>
    </div>
</div>