<div>

    <h1>Spaceland Sport Jumpers</h1>

    <div>
        <button class="waves-effect waves-light btn"><a href="jumpers/new">Add New Jumper</a></button>
    </div>
    <div>
        <ul>
        {{#each jumpers}}
        
       <li> {{this.name}}  -  {{this.totalJumps}} 
        <a href="/jumpers/{{this._id}}">{{this.name}} Info</a>
        {{/each}}
        </ul>
    </div>
</div>